<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:security="http://www.springframework.org/schema/security"  
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd  
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd  
    http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd">  

	<context:property-placeholder location="classpath:conn.properties"/>
	<!-- 注解扫描   排除controller的注解  因为他交给springmvc了-->
	<context:component-scan base-package="com.xy9860.seckill" />
	<!-- 配置数据库相关参数 -->
	<bean id="dataSource" class="${dataSource}">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<!-- C3P0 私有属性 -->
		<property name="maxPoolSize" value="30" /><!-- 连接池最大数量   默认15-->
		<property name="minPoolSize" value="10" /><!-- 连接池最小数量   默认3-->
		<property name="checkoutTimeout" value="1000" /><!-- 等待连接的超时时间  默认0 建议设置 单位毫秒 -->
		<property name="acquireRetryAttempts" value="2" /><!-- 重试次数 重试两次拿不到就报异常 -->
	</bean>
	<!-- 配置sqlsessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybaits-Configuration.xml" />
		<property name="dataSource" ref="dataSource" />
		<!-- 扫描 实体包 使用别名   可以使用分号分隔-->
		<property name="typeAliasesPackage" value="com.xy9860.seckill.entity" />
		<!-- 扫描sql配置文件  需要xml文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	<!-- 配置扫描 DAO接口包,动态实现DAO接口,并注入到Spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 这里不建议使用sqlSessionFactory 注入 建议 使用sqlSessionFactoryBeanName 进行后处理  防止初始化错误 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!-- 给出需要扫描的DAO接口包 -->
		<property name="basePackage" value="com.xy9860.seckill.dao" />
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置注解的声明式事务   默认使用注解来管理事务行为-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="redisDao" class="com.xy9860.seckill.dao.cache.RedisDao">
		<constructor-arg index="0" value="localhost" />
		<constructor-arg index="1" value="6379" />
	</bean>
	
 </beans>